<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/script/script.js"></script>
</head>
<body>
    <div id="welcomeCard">
        <h2 id="welcome">Welcome Please signup</h2>
        <form id="userForm">
            <div class="show">
                <label for="id">ID</label> 
            </div>
            <input type="text" name="ID" id="id">
            <div class="show">
                <label for="pwd">Password</label>
            </div>
            <input type="password" name="Password" id="pwd">
            <div class="show">
                <label for="name">Name</label>
            </div>
            <input type="text" name="name" id="name">
            <br>
            <div id="btns">
                <input type="button" value="Register" onclick="register()">
                <a href="/user/signin">Login</a>
            </div>
        </form> 
    </div>
</body>
</html>