<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/script/script.js"></script>
</head>
<body>
    <div id="welcomeCard" >
        <form id="formInfo" action="/user/profile" method="POST">
            <input type="hidden" name="ID">
        </form>
        <h2 id="welcome">Welcome</h2>
        <form id="userForm">
            <div class="show">
                <label for="id">ID</label> 
            </div>
            <input type="text" name="ID" id="id">
            <div class="show">
                <label for="pwd">Password</label>
            </div>
            <input type="password" name="Password" id="pwd">
            <div id="btns">
                <input type="button" value="Login" onclick="login()"><br>
                <a href="/user/signup">Register</a>
            </div>
        </form> 
    </div>
</body>
</html>