<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 실습</title>
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function formAsync(){
            // 빈칸 없이!
            let form = document.querySelector("#form-single");
            if(!form.userfile.value || !form.id.value || !form.pwd.value
            || !form.name.value || !form.age.value ){
                alert("빈칸 없이, 파일 업로드해주세요!");
                return false;
            }

            // formData : js에서 폼 데이터를 다루기 위해 사용하는 객체
            let formData = new FormData(form);

            // 1) axios
            // axios({
            //     method:'post',
            //     url:"/upload",
            //     data : formData,
            //     headers : {
            //         'Content-Type' : 'multipart/form-data'
            //     }
            // }).then((res)=>{
            //     document.getElementById("profile").innerHTML = res.data
            // })

            // 2) fetch 
            fetch("/upload",{
                method : 'post',
                body : formData,
            }).then((res)=>{return res.json()})
            .then((d)=>{
                let path = d.file.path;
                document.getElementById("profile").innerHTML 
                = "<img src="+path+"s>"
            })
        }
    </script>
</head>
<body>
    <form id="form-single" enctype="multipart/form-data">
        <fieldset style="width:40%;">
            <legend>upload.single(파일 하나만)</legend>
            아이디 : <input type="text" name="id" value="yongsan"><br>
            비밀번호 : <input type="password" name="pwd" value="1234"><br>
            이름 : <input type="text" name="name" value="sesac"><br>
            나이 : <input type="number" name="age" value="24"><br>
            <input type="file" name="userfile" style="margin-top:10px">
            <input type="reset">
            <button type="button" onclick="formAsync()">회원가입</button>
        </fieldset>
    </form>
    <br>
    <form id="form-array" enctype="multipart/form-data">
        <fieldset style="width:40%;">
            <legend>upload.array(여러 파일 묶음)</legend>
            아이디 : <input type="text" name="id" value="yongsan"><br>
            비밀번호 : <input type="password" name="pwd" value="1234"><br>
            이름 : <input type="text" name="name" value="sesac"><br>
            나이 : <input type="number" name="age" value="24"><br>
            <input type="file" name="userfile" style="margin-top:10px">
            <input type="reset">
            <button type="button" onclick="formAsync()">회원가입</button>
        </fieldset>
    </form>
    <br>
    <form id="form-fields" enctype="multipart/form-data">
        <fieldset style="width:40%;">
            <legend>upload.fields(각각의 여러 파일)</legend>
            아이디 : <input type="text" name="id" value="yongsan"><br>
            비밀번호 : <input type="password" name="pwd" value="1234"><br>
            이름 : <input type="text" name="name" value="sesac"><br>
            나이 : <input type="number" name="age" value="24"><br>
            <input type="file" name="userfile" style="margin-top:10px">
            <input type="reset">
            <button type="button" onclick="formAsync()">회원가입</button>
        </fieldset>
    </form>
    <br>
    <div id="profile">

    </div>
</body>
</html>