<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pop창 띄우기 실습</title>
     <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!--쿠키가 있을 때 버튼 비활성화-->
    <%if(data.DONOTOPEN==1){%>
        <input type="button" onclick="openPop()" id="popup" value="팝업 오픈" disabled >
        <div id="span">이 쿠키는 10초간 지속됩니다.</div>
        <%}else {%> <!--쿠키가 없을 때 버튼 활성화-->
        <input type="button" onclick="openPop()" id="popup" value="팝업 오픈">
    <%}%>
    <!--팝업창-->
    <div class="popup_layer" id="popup_layer" style="display:none;">
        <div class="popup_box">
            <!--팝업 컨텐츠 영역-->
            <div class="popup_content">
                <div>
                    <input type="checkbox" id="ckBox" onclick="clickPop()">
                        <label for="ckBox">오늘은 그만보기</label>
                </div>
            </div>
            <div style="height:10px; width:375px; float:top;">
                <a href="javascript:closePop()">
                    닫기
                </a>
            </div>
        </div>
    </div>
        <div id="span" style="display:none">이 쿠키는 10초간 지속됩니다.</div>
    <script>
        // 팝업 열기
        function openPop() {
            document.getElementById("popup_layer").style.display = "block";
        }   
        // 팝업 닫기
        function closePop() {
            document.getElementById("popup_layer").style.display = "none";
        }
        // 오늘은 그만보기를 눌렀을 때
        function clickPop() {
            axios({
                method : "get",
                url : "/popup"
            }).then((res)=>{
                console.log(document.cookie);
                document.querySelector(".popup_layer").style.display = "none";
                document.getElementById("popup").disabled = true;
                document.getElementById("span").style.display = "block";
            })
        }
    </script>
</body>
</html>