#welcomeCard {
    display:flex; /* display flex로 설정 */
    flex-direction: column; /* 위에서 아래로 정렬 (열) */
    justify-content: center; /*세로방향 가운데 정렬*/
    align-items: center; /*가로방향 가운데 정렬*/
}
#userForm {
    text-align: center;
}

.show{
    margin: 10px;
}

#btns { 
    margin-top : 10px;
}

input[type=button] {
    background-color: pink;
    border:0;
    padding:8px;
    border-radius: 15%;
    cursor: pointer;
}