#container {
  width: 500px;
  height: 500px;
  background: ivory;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

#notice {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#chatView {
  height: 95%;
  overflow-y: scroll;
  background-color: ivory;
}

#msg {
  width: 80%;
  height: 36px;
  border-radius: 8px;
}

#send {
  width: 16%;
  height: 40px;
  border-radius: 50px;
  background: black;
  color: white;
  cursor: pointer;
}

.msgLine {
  margin: 15px;
}
.msgBox {
  border: 1px solid black;
  background: skyblue;
  padding: 2px 5px;
  border-radius: 10px;
}

#user {
  text-align: center;
  margin: 10px;
}
